[submodule "src/datadog-firehose-nozzle/src/github.com/DataDog/datadog-firehose-nozzle"]
	path = src/datadog-firehose-nozzle/src/github.com/DataDog/datadog-firehose-nozzle
	url = https://github.com/DataDog/datadog-firehose-nozzle.git
